.root{
    -fx-background-color: #EDF1F2;
}
.button{
    -fx-text-fill: white;
    -fx-background-color: #84A2AB;
    -fx-background-radius: 2;
    -fx-border-radius: 2px;
    -fx-padding: 2px;
    /*-fx-background-image: url('plus.svg');;*/
}
.button:hover{
    -fx-background-color: #BF919B;
    -fx-cursor: pointer;
    -webkit-fx-transition: background .5s;
    -fx-transition: background .5s;
    -fx-padding: 2px;
}
.button:pressed{
    -fx-background-color: #DB516F;
}

.clearButton{
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-padding: 2;
}
.text-area{
    -fx-border-radius: 1px;
    -fx-padding: 1px;
    -fx-background-color: #A1C2CC;
    -fx-text-fill: #8F2154;

}
.labelOrange{
    -fx-text-fill: #6A778F;
}
.labelMax{
    -fx-text-fill: #6C73E0;
}
.combo-box  {
    -fx-background-color: transparent, #e2e2e2, transparent, #84A2AB;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-padding: 0.166667em; /* 2 */
    -fx-font-size: 12px;
}
.combo-box:selected{
    -fx-padding: 0; /* 2 */
    -fx-border-color: transparent;
}
.combo-box  .list-cell{
    -fx-text-fill: white;
}
.combo-box:disabled {
    -fx-opacity: .4;
}

/* ------- OPEN BUTTON ------- */
.combo-box .arrow-button {
    -fx-background-color: transparent, transparent, #84A2AB;
}

/* ------- ARROW* ------- */
.combo-box .arrow {
    -fx-background-color: transparent, #495C61;
}

.combo-box-popup .list-view {
    -fx-background-color: #A2ADB0, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color: #A2ADB0;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #D49F4A;
    -fx-text-fill: #1d1d1d;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #D6B278;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #D49F4A;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #D49F4A;
    -fx-text-fill: #1d1d1d;
}

.toggle-button {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-background-color: #5E7B8A;
    -fx-font-size: 11px;
    -fx-text-fill: white;
}

.toggle-button:focused {

}

.toggle-button:hover {
    -fx-background-color: #BF919B;
}

.toggle-button:selected {
    -fx-background-color: #DB516F;
    -fx-border-color: #DB516F;
    -fx-border-width: 1,1;
    -fx-border-radius: 1px;
}
.writeToggle-button{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 9px;
}
.round-btn{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.up-btn, .down-btn{
    -fx-background-size: 22px;
}
.down-btn{
    -fx-background-image: url('images/minus.png');
}
.down-btn:hover{
    -fx-background-image: url('images/minus-hover.png');
}
.up-btn{
    -fx-background-image: url('images/plus.png');
}
.up-btn:hover{
    -fx-background-image: url('images/plus-hover.png');
}
.up-btn, .down-btn, .up-btn:hover, .up-btn:selected, .down-btn:selected, .down-btn:hover{
    -fx-background-color: transparent;
}
.up-btn:selected, .down-btn:selected{
    -fx-border-color: transparent;
}
.up-btn:selected{
    -fx-background-image: url('images/plus-selected.png');
}
.down-btn:selected{
    -fx-background-image: url('images/minus-selected.png');
}
.writeToggle-button:selected{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.text-field{
    -fx-text-fill: #6C73E0;
    -fx-border-radius: 1;
    -fx-background-radius: 1;
}
.tab-button{
    -fx-font-size: 12px;
    -fx-padding: 3px 10px;
    -fx-pref-height: 30px;
    -fx-pref-width: 100px;
    -fx-text-alignment: center;
}